@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Jost', sans-serif;
}

nav{
    z-index: 10001 !important;
}

.gradientBg{
    background: linear-gradient(99deg,#113F67 0% ,  #87C0CD 100% );
}

.btnPrimary{
    @apply py-3 px-8 bg-primary font-semibold text-white hover:bg-tertiary hover:text-primary transition-all duration-300 rounded;  
}

.btnSecondary{
    @apply py-3 px-8 bg-tertiary font-semibold text-primary hover:bg-secondary hover:text-quaternary transition-all duration-300 rounded;  
}
